PatchRequest should not extend BaseScimResource

**Describe the bug**
per [RFC7644 section 3.5.2](https://tools.ietf.org/html/rfc7644#section-3.5.2), `urn:ietf:params:scim:api:messages:2.0:PatchOp` does not have the elements "meta", "id", and "externalId".  Sending requests with these parameters can cause issues when targeting a strict server.  Currently these values are sent as e.g. `"id": null` even when not set

**Expected behavior**
Sent patch requests do not have the "meta", "id", and "externalId" elements.

**Additional context**
https://github.com/pingidentity/scim2/blob/master/scim2-sdk-common/src/main/java/com/unboundid/scim2/common/messages/PatchRequest.java#L38

Hello,

I'm curious to know if anyone has found a workaround for this without having to modify the SDK itself. I'm trying to interop with a service that does not like to see "id" and "externalId" set to null in the body of the PATCH request.

PatchRequest, along with many other SCIM SDK classes like ErrorResponse, inherit from `BaseScimResource` by design. In these cases, when the core fields like `id` are unused, they are set to `null` as you've mentioned.

If you are seeing explicit null fields when Java objects are serialized into JSON, then it most likely indicates that the ObjectMapper performing the serialization has not been configured correctly. The best way to get an ObjectMapper with the correct configuration is to call the SCIM SDK's `JsonUtils.createObjectMapper()` function.

There are some more details about this in #215. If there are any further problems, please open a new GitHub issue.