UserResource.groups mutability should be 'readonly'

**Describe the bug**
per [RFC 7643 section 4.1.2](https://tools.ietf.org/html/rfc7643#section-4.1.2) at the end of the heading "groups":
```
Since this attribute has a mutability of
"readOnly", group membership changes MUST be applied via the
"Group" Resource (Section 4.2).  This attribute has a mutability
of "readOnly".
```

However, the `@Attribute` annotation on [line 195 of UserResource](https://github.com/pingidentity/scim2/blob/master/scim2-sdk-common/src/main/java/com/unboundid/scim2/common/types/UserResource.java#L195) leaves mutability as the default, [which is read-write](https://github.com/pingidentity/scim2/blob/master/scim2-sdk-common/src/main/java/com/unboundid/scim2/common/annotations/Attribute.java#L92).