ReplaceOperation with an empty-array value is rejected unnecessarily

**Problem behavior**
The library rejects payloads that are valid according to [RFC 7644, Sec. 3.5.2.3. Replace Operation](https://tools.ietf.org/html/rfc7644#section-3.5.2.3). Specifically, it rejects `Operations` whose `value` is the empty array `[]`:

```java
      if(value == null || value.isNull() ||
           ((value.isArray() || value.isObject()) && value.size() == 0))
       {
         throw BadRequestException.invalidSyntax(
             "value field must not be null or an empty container");
       }
```
[PatchOperation.java#L305](https://github.com/pingidentity/scim2/blob/92eb02db4140ca2a81ed19fdbc0ccdb2fcce56a1/scim2-sdk-common/src/main/java/com/unboundid/scim2/common/messages/PatchOperation.java#L305)

**Why this is important**
Okta sends the following payload which fails to be deserialized:
```javascript
{
    "schemas": [
        "urn:ietf:params:scim:api:messages:2.0:PatchOp"
    ],
    "Operations": [
        {
            "op": "replace",
            "path": "members",
            "value": []
        }
    ]
}
```

**Historical context**
The code doing this validation was merged in #26.

**Suggested resolution**
Change the check in `PatchOperation.java` to:
```java
      if(value == null || value.isNull() ||
           (value.isObject() && value.size() == 0))
       {
         throw BadRequestException.invalidSyntax(
             "value field must not be null or an empty object");
       }
```

Any chances of this being done anytime in the future?

Is there any update on this?


A code change for this has been merged and will be available in the next release of the SCIM 2 SDK.

Thanks for the fix @kqarryzada , when is 2.3.9 releasing ?

@ajulka-drem, I'm happy to say that the new version (2.4.0) has been released today: https://github.com/pingidentity/scim2/releases/tag/scim2-2.4.0

@KMayne, thanks for reporting this. It looks like the PatchOperation is created without issue, but there is a problem when trying to apply it. Could you please open a new issue for this?