Group Resource in common/types

**Is your feature request related to a problem? Please describe.**
Currently, there is no support for the `/Groups` endpoint resource defined in [RFC 7643 section 4.2](https://tools.ietf.org/html/rfc7643#section-4.2).  Having this object available would be useful to clients.

**Describe the solution you'd like**
an object extending `BaseScimResource` with the schema `urn:ietf:params:scim:schemas:core:2.0:Group` available in the common types package

**Describe alternatives you've considered**
The object can be maintained within code which uses the client library, but upstream support is preferable for de-duplication of effort