client support for bulk endpoint

out-of-the-box support for the Bulk endpoint, specified by [RFC7644 section 3.7](https://tools.ietf.org/html/rfc7644#section-3.7), would be very much appreciated in the client library

We've just merged support for a bulk endpoint in the client library, along with a great amount of other features regarding bulk workflows. This took longer than anticipated due to other priorities, but I will add an update here when this feature is publicly available in an official release.

This change is now available in 5.1.0 and 6.0.0, which both shipped today:

* https://github.com/pingidentity/scim2/releases/tag/scim2-5.1.0
* https://github.com/pingidentity/scim2/releases/tag/scim2-6.0.0