Schema extension for phonenumber

Use case: I am trying to add a field phoneNumberExtension to user phone number.

I've created a new schema for this field:
`@Schema(id="urn:ietf:params:scim:schemas:extensions:2.0:MyPhone", name="MyPhone", description = "My Phone Number Extensions")`.

Then, I've added this schema to my ResourceType annotation for the User endpoint:
`@ResourceType(description = "User Account", name = "User", schema = UserResource.class,
	    requiredSchemaExtensions = {MyUserResource.class, MyPhoneResource.class})`

Is this the right way to implement this? Is it valid to create an extension schema for a single attribute that belongs to a complex type like PhoneNumber?

Hi @yashlearns, sorry for the late response. If I'm understanding correctly, when you say "create an extension schema for a single attribute that belongs to a complex type", it sounds like you mean something like:

```json
{
    "schemas": [ "urn:ietf:params:scim:schemas:core:2.0:User" ],
    "userName": "babsJensen",
    "phoneNumbers": [
      {
          "value": "314-159-2653",
          "type": "home"
      },
      {
          "schemas": [ "urn:ietf:params:scim:schemas:extensions:2.0:MyPhone" ],
          "value": "271-828-1828",
          "type": "work",
          "extraAttribute": "new value"
      }
    ]
}
```

This is not a valid schema extension. [RFC 7643 Section 3.3](https://datatracker.ietf.org/doc/html/rfc7643#section-3.3) states the following:

> SCIM allows resource types to have extensions in addition to their
  core schema.  This is similar to how "objectClasses" are used in LDAP
  [RFC4512]...  The "schemas" attribute
  MUST contain at least one value, which SHALL be the base schema for
  the resource.  The "schemas" attribute MAY contain additional values
  indicating extended schemas that are in use.  Schema extensions
  SHOULD avoid redefining any attributes defined in this specification
  and SHOULD follow conventions defined in this specification.

This states that schema extensions are applied to resource types (e.g., a user or a group object), not to attribute values. Furthermore, schema extensions are always paired with a base schema value, like how the enterprise user extension schema is always paired with the base user schema. The fact that there is not a "base" telephone schema is a hint that a phone number extension is not valid.

If you really need some extra data with the phone number, you would need to define an extension schema on the user itself, and would likely need to avoid the use of the `phoneNumbers` attribute. So if you really needed to, you could do something like:

```json
{
    "schemas": [ 
        "urn:ietf:params:scim:schemas:core:2.0:User",
        "urn:ietf:params:scim:schemas:extensions:2.0:MyPhone"
    ],
    "userName": "babsJensen",
    "urn:ietf:params:scim:schemas:extensions:2.0:MyPhone": {
        "customPhoneNumbers": [
          {
            "value": "271-828-1828",
            "type": "work",
            "extraAttribute": "new value"
          }
        ]
    }
}
```

However, this is probably not the best idea. Not only does this redefine the phone number attribute (which is discouraged from the text above), but it will also make interoperability hard for anyone that needs to integrate with your SCIM service. For example, if people want to move their users into your platform, they would have to do extra work to get the phone number data migrated over, since the standard `phoneNumbers` attribute cannot be used.

If you can store your extension data on a user in another way, especially if it does not have to be coupled with each phone number, that would be ideal.

